In [12]:
import pandas as pd

csv_files = [
    "Term paper/data/SCE-Jun-2013.csv",
    "Term paper/data/SCE-Jul-2013.csv",
    "Term paper/data/SCE-Aug-2013.csv",
    "Term paper/data/SCE-Sep-2013.csv",
    "Term paper/data/SCE-Oct-2013.csv",
    "Term paper/data/SCE-Nov-2013.csv",
    "Term paper/data/SCE-Dec-2013.csv",
    "Term paper/data/SCE-Jan-2014.csv",
    "Term paper/data/SCE-Feb-2014.csv",
    "Term paper/data/SCE-Mar-2014.csv",
    "Term paper/data/SCE-Apr-2014.csv",
    "Term paper/data/SCE-May-2014.csv",
    "Term paper/data/SCE-Jun-2014.csv",
    "Term paper/data/SCE-Jul-2014.csv",
    "Term paper/data/SCE-Aug-2014.csv",
    "Term paper/data/SCE-Sep-2014.csv",
    "Term paper/data/SCE-Oct-2014.csv",
    "Term paper/data/SCE-Nov-2014.csv",
    "Term paper/data/SCE-Dec-2014.csv",
    "Term paper/data/SCE-Jan-2015.csv",
    "Term paper/data/SCE-Feb-2015.csv",
    "Term paper/data/SCE-Mar-2015.csv",
    "Term paper/data/SCE-Apr-2015.csv",
    "Term paper/data/SCE-May-2015.csv",
    "Term paper/data/SCE-Jun-2015.csv",
    "Term paper/data/SCE-Jul-2015.csv",
    "Term paper/data/SCE-Aug-2015.csv",
    "Term paper/data/SCE-Sep-2015.csv",
    "Term paper/data/SCE-Oct-2015.csv",
    "Term paper/data/SCE-Nov-2015.csv",
    "Term paper/data/SCE-Dec-2015.csv",
    "Term paper/data/SCE-Jan-2016.csv",
    "Term paper/data/SCE-Feb-2016.csv",
    "Term paper/data/SCE-Mar-2016.csv",
    "Term paper/data/SCE-Apr-2016.csv",
    "Term paper/data/SCE-May-2016.csv",
    "Term paper/data/SCE-Jun-2016.csv",
    "Term paper/data/SCE-Jul-2016.csv",
    "Term paper/data/SCE-Aug-2016.csv",
    "Term paper/data/SCE-Sep-2016.csv",
    "Term paper/data/SCE-Oct-2016.csv",
    "Term paper/data/SCE-Nov-2016.csv",
    "Term paper/data/SCE-Dec-2016.csv",
    "Term paper/data/SCE-Jan-2017.csv",
    "Term paper/data/SCE-Feb-2017.csv",
    "Term paper/data/SCE-Mar-2017.csv",
    "Term paper/data/SCE-Apr-2017.csv",
    "Term paper/data/SCE-May-2017.csv",
    "Term paper/data/SCE-Jun-2017.csv",
    "Term paper/data/SCE-Jul-2017.csv",
    "Term paper/data/SCE-Aug-2017.csv",
    "Term paper/data/SCE-Sep-2017.csv",
    "Term paper/data/SCE-Oct-2017.csv",
    "Term paper/data/SCE-Nov-2017.csv",
    "Term paper/data/SCE-Dec-2017.csv",
    "Term paper/data/SCE-Jan-2018.csv",
    "Term paper/data/SCE-Feb-2018.csv",
    "Term paper/data/SCE-Mar-2018.csv",
    "Term paper/data/SCE-Apr-2018.csv",
    "Term paper/data/SCE-May-2018.csv",
    "Term paper/data/SCE-Jun-2018.csv",
    "Term paper/data/SCE-Jul-2018.csv",
    "Term paper/data/SCE-Aug-2018.csv",
    "Term paper/data/SCE-Sep-2018.csv",
    "Term paper/data/SCE-Oct-2018.csv",
    "Term paper/data/SCE-Nov-2018.csv",
    "Term paper/data/SCE-Dec-2018.csv",
    "Term paper/data/SCE-Jan-2019.csv",
    "Term paper/data/SCE-Feb-2019.csv",
    "Term paper/data/SCE-Mar-2019.csv",
    "Term paper/data/SCE-Apr-2019.csv",
    "Term paper/data/SCE-May-2019.csv",
    "Term paper/data/SCE-Jun-2019.csv",
    "Term paper/data/SCE-Jul-2019.csv",
    "Term paper/data/SCE-Aug-2019.csv",
    "Term paper/data/SCE-Sep-2019.csv",
    "Term paper/data/SCE-Oct-2019.csv",
    "Term paper/data/SCE-Nov-2019.csv",
    "Term paper/data/SCE-Dec-2019.csv",
    "Term paper/data/SCE-Jan-2020.csv",
    "Term paper/data/SCE-Feb-2020.csv",
    "Term paper/data/SCE-Mar-2020.csv",
    "Term paper/data/SCE-Apr-2020.csv",
    "Term paper/data/SCE-May-2020.csv",
    "Term paper/data/SCE-Jun-2020.csv",
    "Term paper/data/SCE-Jul-2020.csv",
    "Term paper/data/SCE-Aug-2020.csv",
    "Term paper/data/SCE-Sep-2020.csv",
    "Term paper/data/SCE-Oct-2020.csv",
    "Term paper/data/SCE-Nov-2020.csv",
    "Term paper/data/SCE-Dec-2020.csv",
    "Term paper/data/SCE-Jan-2021.csv",
    "Term paper/data/SCE-Feb-2021.csv",
    "Term paper/data/SCE-Mar-2021.csv",
    "Term paper/data/SCE-Apr-2021.csv",
    "Term paper/data/SCE-May-2021.csv",
    "Term paper/data/SCE-Jun-2021.csv",
    "Term paper/data/SCE-Jul-2021.csv",
    "Term paper/data/SCE-Aug-2021.csv",
    "Term paper/data/SCE-Sep-2021.csv",
    "Term paper/data/SCE-Oct-2021.csv",
    "Term paper/data/SCE-Nov-2021.csv",
    "Term paper/data/SCE-Dec-2021.csv",
    "Term paper/data/SCE-Jan-2022.csv",
    "Term paper/data/SCE-Feb-2022.csv",
    "Term paper/data/SCE-Mar-2022.csv",
    "Term paper/data/SCE-Apr-2022.csv",
    "Term paper/data/SCE-May-2022.csv",
    "Term paper/data/SCE-Jun-2022.csv",
    "Term paper/data/SCE-Jul-2022.csv",
    "Term paper/data/SCE-Aug-2022.csv",
    "Term paper/data/SCE-Sep-2022.csv",
    "Term paper/data/SCE-Oct-2022.csv",
    "Term paper/data/SCE-Nov-2022.csv",
    "Term paper/data/SCE-Dec-2022.csv",
    "Term paper/data/SCE-Jan-2023.csv",
    "Term paper/data/SCE-Feb-2023.csv",
    "Term paper/data/SCE-Mar-2023.csv",
    "Term paper/data/SCE-Apr-2023.csv",
    "Term paper/data/SCE-May-2023.csv",
    "Term paper/data/SCE-Jun-2023.csv",
    "Term paper/data/SCE-Jul-2023.csv",
    "Term paper/data/SCE-Aug-2023.csv",
    "Term paper/data/SCE-Sep-2023.csv",
    "Term paper/data/SCE-Oct-2023.csv",
    "Term paper/data/SCE-Nov-2023.csv",
    "Term paper/data/SCE-Dec-2023.csv",
    "Term paper/data/SCE-Jan-2024.csv",
    "Term paper/data/SCE-Feb-2024.csv",
    "Term paper/data/SCE-Mar-2024.csv",
    "Term paper/data/SCE-Apr-2024.csv",
    "Term paper/data/SCE-May-2024.csv",
    "Term paper/data/SCE-Jun-2024.csv",
    "Term paper/data/SCE-Jul-2024.csv",
    "Term paper/data/SCE-Aug-2024.csv",
    "Term paper/data/SCE-Sep-2024.csv",
    "Term paper/data/SCE-Oct-2024.csv",
    "Term paper/data/SCE-Nov-2024.csv",
    "Term paper/data/SCE-Dec-2024.csv",
]


dfs = [pd.read_csv(f) for f in csv_files] 
sce = pd.concat(dfs, ignore_index=True) 
print(" Merged into a single DataFrame")

 Merged into a single DataFrame

In [13]:
sce

       userid;wid;date;weight;female;educ;age;hispanic;black;couple;num_kids;owner;inflation;house_price_change;prob_stocks_up;num_lit_q1;num_lit_q1_correct;num_lit_q2;num_lit_q2_correct;num_lit_q3;num_lit_q3_correct;num_lit_q5;num_lit_q5_correct;num_lit_q6;num_lit_q6_correct;num_lit_q8;num_lit_q8_correct;num_lit_q9;num_lit_q9_correct
0       70000220;201306;2013-06-04;16.3;1.0;3.0;28.0;0...
1       70000224;201306;2013-06-03;0.2;0.0;4.0;65.0;0....
2       70000234;201306;2013-06-17;4.1;1.0;3.0;41.0;0....
3       70000238;201306;2013-06-13;3.0;0.0;3.0;74.0;0....
4       70000239;201306;2013-06-02;1.9;1.0;4.0;67.0;0....
...                                                   ...
176096  75025299;202412;2024-12-19;0.6;1.0;3.0;33.0;0....
176097  75025320;202412;2024-12-05;0.8;1.0;4.0;56.0;1....
176098  75025337;202412;2024-12-21;1.0;1.0;3.0;68.0;0....
176099  75025373;202412;2024-12-09;2.4;1.0;2.0;58.0;0....
176100  75025376;202412;2024-12-12;0.5;1.0;4.0;38.0;0....

[176101 rows x 1 columns]